.text-align-start {
  text-align: start;
}

.text-align-end {
  text-align: end;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.text-align-justify-all {
  text-align: justify-all;
}

.text-align-match-parent {
  text-align: match-parent;
}

.vertical-align-baseline {
  vertical-align: baseline;
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-text-top {
  vertical-align: text-top;
}

.vertical-align-super {
  vertical-align: super;
}

.vertical-align-sub {
  vertical-align: sub;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-overline {
  text-decoration: overline;
}

.text-decoration-line-through {
  text-decoration: line-through;
}
