.alert {
  background-color: antiquewhite;
  margin-bottom: 0.5rem;
  padding: 1.5rem 1rem;
  width: 100%;
  font-size: 1.6rem;
}

.alert-success {
  background: var(--success-color);
  color: #262424;
}

.alert-danger {
  background: var(--danger-color);
  color: #262424;
}

.alert-warning {
  background: var(--warning-color);
  color: #262424;
}

.alert-info {
  background: var(--info-color);
  color: #262424;
}
