.sticky-footer {
  background: var(--main-color);
  color: var(--main-text-reverse-color);
  display: flex;
  width: 100%;
  padding: 1.5rem 10%;
}

.sticky-footer p {
  color: var(--main-text-reverse-color);
}

.sticky-footer a {
  color: var(--main-text-reverse-color);
}
