
form input{
    height: 50px;
    max-width: 700px;
    border-radius: 2px;
    background-color: ï½€#fff;
    border: 1px solid #e1e1e1;
    width: 80%;
}
.form_inner{
    padding: 1em;
}
.form_input_btm{
    margin-bottom: 1.2em;
}
form label{
    display: block;
    margin-bottom: 0.5em;
}
textarea{
  width:100%;
  border:solid 1px #ccc;
  font-size: 1em;
  max-width: 820px;
}

.radio,.checkbox{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
        display: none;
    }
.radio input[type="radio"]:checked + .radio-label:before {
    border-color: var(--main-color);
}
.radio input[type="radio"]:checked + .radio-label:after{
    transform: scale(1);
}
.radio-label{
    margin: 0;
    position: relative;
    padding-left: 3em;
    vertical-align: bottom;
    cursor: pointer;
}
.radio-label:before{
    position: absolute;
    border-radius: 50%;
    content: '';  
    width: 27px;
    height: 27px;
    border: solid 2px #ccc;
    margin-right: 10px;
    left: 0;
    top: 0;
}
.radio-label:after{
    position: absolute;
    content: '';  
    top: 8px;
    left: 8px;
    width:12px;
    height:11px;
    border-radius: 50%;
    transform: scale(0);
    background:var(--main-color);
}
.check-label{
    margin: 0;
    position: relative;
    padding-left: 2em;
    margin-right: 3em;
    padding-top: 0.2em;
    vertical-align: bottom;
    cursor: pointer;
}
.check-label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.checkbox-input:checked {
  border: 2px solid var(--main-color);
}
.checkbox-input:checked + .check-label::after{
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 10px;
  height: 16px;
  transform: rotate(40deg);
  border-bottom: 3px solid var(--main-color);
  border-right: 3px solid var(--main-color);
  
}
.date, .datetime-local{
    padding: 1em;
}
.submit{
    background: var(--main-color);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    
}