.tag {
  padding: 0.5rem 1.4rem;
  line-height: 1;
  display: inline-block;
  background: #fff;
  text-decoration: none;
  color: var(--main-color);
  border: var(--main-color) solid 0.1rem;
  font-size: 1.4rem;
  height: 2.6rem;
}

.tag:hover {
  color: #fff;
  background-color: var(--main-color);
}
