.tag {
    display: inline-block;
    padding: 0.5rem;
    line-height: 1;
    display: inline-block;
    background: #EEEEEE;
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
}