.tag {
    display: inline-block;
    padding: 0.5rem;
    line-height: 1;
    display: inline-block;
    background: #F4EEEB;
    text-decoration: none;
    color: var(--main-color);
    font-size: 14px;
    margin-bottom: 5px;
}