.container {
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 80%;
}

.full-containerr {
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.row {
   flex: 1;
   /*padding: 0 10%;*/
   display: flex;
}
.col{
    padding: 0 1rem;
    width: 100%;
}
