.container {
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 80%;
}

.headline {
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 auto;
}
.headline{
    padding: 2rem 0;
    width: 100%;
}

.row {
   flex: 1;
   /*padding: 0 10%;*/
   display: flex;
}
.col{
    padding: 0 1rem;
    width: 100%;
}
