.container {
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 770px) {
  .container-readable {
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 640px;
  }
}

@media screen and (max-width: 771px) {
  .container-readable {
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
  }
}

.headline {
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2rem 0;
  width: 100%;
  min-height: 280px;
  display: flex;
}

.row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 20rem;
  padding: 1rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  padding: 1rem;
}

.col-1 {
  flex-basis: 10%;
}

.col-2 {
  flex-basis: 20%;
}

.col-3 {
  flex-basis: 30%;
}

.col-4 {
  flex-basis: 40%;
}

.col-5 {
  flex-basis: 50%;
}

.col-6 {
  flex-basis: 60%;
}

.col-7 {
  flex-basis: 70%;
}

.col-8 {
  flex-basis: 80%;
}

.col-9 {
  flex-basis: 90%;
}

.grid {
  display: grid;
}
